## Install and configure slapd.
---
- name: Preseed ldap domain
  ansible.builtin.debconf:
    name: slapd
    question: slapd/domain
    value: "{{ ansible_domain }}"
    vtype: string

- name: Preseed slapd admin password
  ansible.builtin.debconf:
    name: slapd
    question: slapd/password1
    value: "{{ ldap_admin_pwd }}"
    vtype: password
  no_log: true

- name: Preseed slapd admin password confirmation
  ansible.builtin.debconf:
    name: slapd
    question: slapd/password2
    value: "{{ ldap_admin_pwd }}"
    vtype: password
  no_log: true

- name: Generate admin password
  ansible.builtin.shell:
    cmd: echo -n "{{ ldap_admin_pwd }}" > "{{ ldap_admin_pwd_file }}" ; chmod 0600 "{{ ldap_admin_pwd_file }}"
    creates: "{{ ldap_admin_pwd_file }}"
  no_log: true

# rfc2307 stuff stolen from debops

- name: Install packages for rfc2307bis schema
  ansible.builtin.apt:
    name: gosa-schema
    install_recommends: false
    state: latest # noqa package-latest

- name: Convert rfc2307bis schema to ldif
  ansible.builtin.shell: schema2ldif rfc2307bis.schema > rfc2307bis.ldif
  args:
    creates: '/etc/ldap/schema/gosa/rfc2307bis.ldif'
    chdir: '/etc/ldap/schema/gosa'

- name: Divert the original NIS schema included in Debian
  community.general.dpkg_divert:
    path: '/etc/ldap/schema/{{ item }}'
  loop:
    - 'nis.schema'
    - 'nis.ldif'

- name: Symlink the new rfc2307bis schema in place of NIS schema
  ansible.builtin.file:
    state: 'link'
    path: '/etc/ldap/schema/{{ item | replace("rfc2307bis", "nis") }}'
    src: '/etc/ldap/schema/gosa/{{ item }}'
    mode: '0644'
  loop: [ 'rfc2307bis.schema', 'rfc2307bis.ldif' ]
  when: not ansible_check_mode | bool

- name: Install packages for LDAP
  ansible.builtin.apt:
    name:
      - slapd
      - ldap-utils
      - python3-ldap
    state: latest # noqa package-latest

- name: Make initial slapd configuration available
  ansible.builtin.copy:
    src: slapd-config.ldif
    dest: /etc/ldap/slapd.d/
    mode: "0644"

- name: Initialize slapd if it has just been installed
  ansible.builtin.command:
    cmd: ldapadd -Y EXTERNAL -H ldapi:/// -f /etc/ldap/slapd.d/slapd-config.ldif # noqa no-changed-when

# group of entries schema (allows for empty groups)

- name: Make groupOfEntries schema available
  ansible.builtin.copy:
    src: groupofentries.ldif
    dest: /etc/ldap/schema/
    mode: "0644"

- name: Add groupOfEntries schema
  ansible.builtin.command:
    cmd: ldapadd -Y EXTERNAL -H ldapi:/// -f /etc/ldap/schema/groupofentries.ldif # noqa no-changed-when

- name: Add URI to ldap.conf
  ansible.builtin.lineinfile:
    dest: /etc/ldap/ldap.conf
    line: "URI ldapi:///"
    insertafter: "#URI.*"

- name: Add BASE to ldap.conf
  ansible.builtin.lineinfile:
    dest: /etc/ldap/ldap.conf
    line: "BASE {{ basedn }}"
    insertafter: "#BASE.*"

- name: Make 'ldap' an alias hostname
  ansible.builtin.replace:
    path: /etc/hosts
    regexp: "^({{ ipaddr_lan | ansible.utils.ipaddr('address') }}\\s.+)$"
    replace: '\1 ldap'
  when: ipaddr_lan is defined
