## Install and configure slapd.
---
- name: Preseed ldap domain
  ansible.builtin.debconf:
    name: slapd
    question: slapd/domain
    value: "{{ ansible_domain }}"
    vtype: string

- name: Preseed slapd admin password
  ansible.builtin.debconf:
    name: slapd
    question: slapd/password1
    value: "{{ ldap_admin_pwd }}"
    vtype: password
  no_log: true

- name: Preseed slapd admin password confirmation
  ansible.builtin.debconf:
    name: slapd
    question: slapd/password2
    value: "{{ ldap_admin_pwd }}"
    vtype: password
  no_log: true

- name: Generate admin password
  ansible.builtin.shell:
    cmd: echo -n "{{ ldap_admin_pwd }}" > "{{ ldap_admin_pwd_file }}" ; chmod 0600 "{{ ldap_admin_pwd_file }}"
    creates: "{{ ldap_admin_pwd_file }}"
  no_log: true

- name: Install packages for LDAP
  ansible.builtin.apt:
    name:
      - slapd
      - ldap-utils
      - ufw
    state: latest # noqa package-latest

- name: Make initial slapd configuration available
  ansible.builtin.copy:
    src: slapd-config.ldif
    dest: /etc/ldap/slapd.d/
    mode: "0644"

# - name: Start slapd if run in installer
#   ansible.builtin.command:
#     cmd: /usr/sbin/slapd -h "ldapi:///" -u openldap -g openldap -F /etc/ldap/slapd.d/
#   when: run_in_installer|default(false)|bool # noqa no-changed-when

- name: Initialize slapd if it has just been installed
  ansible.builtin.command:
    cmd: ldapadd -Y EXTERNAL -H ldapi:/// -f /etc/ldap/slapd.d/slapd-config.ldif # noqa no-changed-when

- name: Add URI to ldap.conf
  ansible.builtin.lineinfile:
    dest: /etc/ldap/ldap.conf
    line: "URI ldapi:///"
    insertafter: "#URI.*"

- name: Add BASE to ldap.conf
  ansible.builtin.lineinfile:
    dest: /etc/ldap/ldap.conf
    line: "BASE {{ basedn }}"
    insertafter: "#BASE.*"

- name: Make 'ldap' an alias hostname
  ansible.builtin.replace:
    path: /etc/hosts
    regexp: "^({{ ipaddr_lan | ansible.utils.ipaddr('address') }}\\s.+)$"
    replace: '\1 ldap'
  when: ipaddr_lan is defined
