[libdefaults]
    default_realm = {{ local_domain | upper }}

[realms]
    {{ local_domain | upper }} = {
        kdc = {{ krb_server }}
        admin_server = {{ krb_server }}
        default_domain = {{ local_domain }}
    }
