# Ansible generated

# DNS server settings
local-address=127.0.0.1, ::1
local-port=5353

# LDAP settings
launch=ldap
ldap-method=strict
ldap-basedn=ou=hosts,{{ basedn }}
zone-cache-refresh-interval=0
